<div>
    <h3>Informacion del usuario nivel privado</h3>
    <img src="/images/triste.gif" alt="cada semana">
   
     <img src="/images/imagen.jpg" alt="programer">
     <p>Esta soy yo todo el rato!!!</p>
</div>